* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f8fafc;
  font-family: "Poppins", sans-serif;
}
.main-container {
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 763px;
  padding-top: 2.625rem;
}
h1 {
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
}
h2 {
  font-weight: 600;
  font-size: 1.25rem;
}
p {
  color: #4d5562;
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: 1rem;
}
.separator {
    display: flex;
    justify-content: center;
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
}
.cards-container {
  display: flex;
  flex-direction: column;
  row-gap: 3.25rem;
}

.card-container {
  display: flex;
  column-gap: 4rem;
  align-items: center;
}
.image-container {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;
  
}
.image-container img {
  height: 10rem;
  width: 10rem;
  border-radius: 0.75rem;
}
.text-container {
}

@media only screen and (max-width: 640px){
    .card-container{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1.5rem;
    }
    .main-container{
        height: 100%;
    }
}